Thumbs.db
*.suo
*.ncb
*.user
*.sdf
*.opensdf
*.mdmp
*.vs
*.ttyrec
*.bz2
*.o
.deps
/*.pdb
/*.ilk
/*.res
/*.RES
/*.pch
/*.rsp
/*.obj
/*.exe
/*.ncb
/*.plg
/*.dsw
/*.opt
/*.dsp
/*.tds
/*.td2
/*.map
/*.log
/*.GID
/local
/*.DSA
/*.RSA
/*.cnt
/*.hlp
/.bmake
obj/
bin/
Debug/
Release/
Packages/
*.so
*.recipe

*.log
*.dll

/PuttySharp/obj/*

/Putty/WINDOWS/VS2012/putty/x64/
/Putty/WINDOWS/VS2012/putty/x86/
/dockcross*
